.App {
  margin: 5em;
  text-align: center;
}

.pokemons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.pokeCard {
  min-width: 20em;
  min-height: 1vh;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.pokeImage {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.cardTitle {
  background-color: seagreen;
  color: white;
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 90px;
  height: 60px;
  background-color: green;
  color: white;
  border-radius: 20px;
  outline: none;
}
.buttonPanel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen {
}
